@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  .preserve-3d {
    transform-style: preserve-3d;
  }
}
:root {
  color-scheme: dark;
}

body {
  background-color: #020617;
  color: white;
}